@{
    Layout = "_MainLayout";
    ViewData["Title"] = localizer["HeadTitle"];
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <h1 class="text-danger">@localizer["AccessDeniedTitle"].</h1>
            <h3 class="text-danger">@localizer["AccessDeniedDesc"]</h3>
        </div>
    </div>
</div>