@model string
@{
    Layout = "_MainLayout";
    ViewData["Title"] = localizer["HeadTitle"];
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <h1 class="text-danger">@localizer["ErrorTitle"].</h1>
            <h2 class="text-danger">@localizer[Model]</h2>
        </div>
    </div>
</div>

