@{
    Layout = "_MainLayout";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <div id="subjectGrid"></div>
        </div>
    </div>
</div>