<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Url" value="http://localhost:5000/"/>
    <add key="DriverPath" value="C:\Users\Csiki Erik\Desktop\ASS\UITest\bin\Debug\netcoreapp3.1"/>
    
    <add key="AdminUsername" value="admin"/>
    <add key="AdminPassword" value="Ab1234"/>
    <add key="TeacherUsername" value="poora"/>
    <add key="TeacherPassword" value="Ab1234"/>
    <add key="InstructorUsername" value="csikie"/>
    <add key="InstructorPassword" value="Ab1234"/>
    <add key="StudentUsername" value="student"/>
    <add key="StudentPassword" value="Ab1234"/>
  </appSettings>
</configuration>